# first we will define the function called zeros
def zeros(n):
   zeros_count = 0
   divisor = 5
while n//divisor>0:
   zeros_count+= n//divisor
   divisor *=5
   return zeros_count
n => int(input())
print(zeros(n))
